name: Compile LaTeX and create output
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/xu-cheng/texlive-full:latest
    permissions: {}
    steps:
      - name: Generate GitHub App Token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          ref: main
          persist-credentials: true

      - name: Compile
        run: python .github/workflows/main.py

      - name: Commit and push PDFs
        run: |
          git config --global user.name "GitHub App"
          git config --global user.email "noreply@github.com"
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git add .
          git commit -m "Auto: PDF compilati" || exit 0
          git push origin main
