name: Compile Latex and create output

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    # container: ghcr.io/xu-cheng/texlive-full:latest
    permissions:
      contents: write
      administration: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Pull
        run: git pull origin main

      - name: Compile
        run: python .github/workflows/main.py

      - name: Mark repo as safe
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Commit and push PDFs
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Automated PDF compilation update"
          git push origin main
